#wp-admin-bar-backgammon_fhk-admin-pulldown IMG { width: 20px; padding: 0px; margin-top: 0px; background-color:white !important; }
#toplevel_page_backgammon_fhk_admin .wp-menu-image IMG { width: 20px; padding: 0px; margin-top: 6px; background-color:white !important; }
